# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS Ignore
/ios/build/
/ios/Pods
/ios/.symlinks
/ios/Flutter/ephemeral
/ios/.generated/

app_summary.md
# Misc
*.lock
.melos_tool/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
.packages
build/
coverage/
!**/test/**/coverage/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/app/release/
**/android/local.properties
**/android/key.properties
**/android/app/*.keystore
**/android/app/*.jks

# iOS related
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/.generated/
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/build/

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/build/
**/macos/Runner.xcworkspace/

# Web related
lib/generated_plugin_registrant.dart

# Windows related
**/windows/flutter/ephemeral/
**/windows/build/

# Linux related
**/linux/flutter/ephemeral/
**/linux/build/

# Firebase related (if any)
google-services.json
GoogleService-Info.plist

# Environment variables or local configs
.env
.env.*